:root {
    --lightgrape: #bd94ba;
    --darkgrape: #370f49;
    --black: #000000;
    --greengrape:#356e53;
  }


  .light-theme {
    --fontColor: var(--lightgrape);
    --bg: var(--darkgrape);
  }

  
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--greengrape);
  }

  * {
    color: var(--fontColor);
    font-family: helvetica;
  }
  
  body {
      background: var(--bg);
  }

ul {
    font-family: 'Courier New';
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }

  .btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--lightgrape);
    background-color: var(--black);
  }

  .btn:focus { outline-style: none; }
  
  h1{
    text-align: center;
  }

  .submissionForm{
    max-width: 320px;
    margin: 2rem auto;
    border: 0px 
  }
  
  .box{
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;;
    box-sizing: border-box;
  }

  label{
    position: relative;
    bottom: 3px;
    color: #e7f0ec
  }

  #submit, #getValues{
    background-color: #811ca0; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

