:root {
    --lightgrape: #ad80c2;
    --white: #d8c3c3;
    --darkgrape: #6b1237;
    --bg_color: #ffffff;
  }

  body {
    font-family: Arial;
    font-size: 16px;
    padding: 8px;
    margin:0;
    padding:0;
    background: var(--bg_color);
  }